name: Build

env:
  HUSKY: 0

permissions:
  id-token: write
  contents: write

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Node v${{ matrix.node-version }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5

    strategy:
      matrix:
        node-version: [22]
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node v${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Build packages
        run: npm run build

  publish:
    name: Publish
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 5

    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set credentials
        run: |
          git config user.name cahamilton-bot
          git config user.email 97126739+cahamilton-bot@users.noreply.github.com

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Build packages
        run: npm run build

      - name: Version Packages
        run: npm run version

      - name: Publish packages
        run: npx lerna publish from-package --yes
